//FONTS
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;


//COLORS
$color-primary-dark: #998675;
$color-primary-light: #c7b299;
$color-primary-extra-light: #f1eee9;

$color-grey-1: rgba(85, 85, 85, 255);
$color-grey-2: rgba(140, 140, 140, 255);

$color-white: #ffffff;
$color-white-1: #fbfaf8;


$color-dark-1: #191919;
$color-dark-2: #111111;
$color-dark-3: #362f2d;

